body{
    font-family: serif;
    text-align: center;
    /* background-image: url("./assets/images/bg1.png"); */
    background-color: rgb(109, 182, 109)
}
.box{
    height: 96.5vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}
h1{
    color: rgb(2, 64, 2);
    text-rendering: auto;
}
.start-btn{
    background-color: yellow;
}
.stop-btn{
    background-color: red;
}
button{
    background-color: green;
 }
#maze-container {
    display: grid;
    /* background-color: blue; */
    grid-template-columns: repeat(5, 40px);
    grid-gap: 2px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
}
.cell{
    background-color: black;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
}
.wall{
    background-color: black;
}

.path{
    background-color:gray;
}

.start{
    background-color: green;
}
.end{
    background-color: red;
}
.solution{
    background-color: yellow;
}
#message{
    margin-top: 20px;
    font-size: 18px;
    color: red;
}
